*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(244deg, transparent, #434570);
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, transparent, #009688);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.home {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
  gap: 50px;
  background-image: url(../images/imgs.png);
  overflow: hidden;
  padding: 80px 80px;
}

ul.intro-social-buttons > li {
  display: block;
  margin-bottom: 20px;
  padding: 0;
}

ul.intro-social-buttons > li:last-child {
  margin-bottom: 0;
}

.description {
  color: #fff;
  padding: 0 50px;
}

.description > h1 {
  font-family: "Tilt Neon", sans-serif;
  font-size: clamp(2.3rem, 5vw, 4rem);
  line-height: 1;
  margin-bottom: 30px;
}

.gradient-text, .gradient-text a {
  font-family: "Tilt Neon", sans-serif;
  background-image: linear-gradient(
    90deg,
    rgb(118, 167, 63) 0%,
    rgb(51, 143, 118) 40%,
    rgb(55, 141, 167) 50%,
    rgb(117, 152, 242) 70%,
    rgb(144, 118, 236) 100%
  );
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
}

.description > p {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.signup-box{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
}

.col-1, .col-2{
    flex-basis: 50%;
    flex-grow: 1;
}

.col-1 img{
    width: 100%;
    display: block;
}

.col-2{
    background: #fff;
    padding: 40px 8%;
    color: #333;
    min-width: 250px;
}

.col-2 h2{
    font-weight: 600;
}

.col-2 span {
    font-size: 12px;
}

.col-2 span a {
    text-decoration: none;
    color: #ef005d;
    font-weight: 500;
}

.google-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ef005d;
    text-decoration: none;
    color: #555;
    font-size: 13px;
    margin: 20px 0;
}

.google-link img{
    width: 20px;
    margin-right: 10px;
}

.col-2 h4{
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}

.input-field{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ef005d;
    outline: none;
    display: block;
    width: 100%;
    margin: 5px 0 10px;
}

.register-error-message {
    margin-top: 3px;
    padding: 5px 5px;
    background-color: #ff0505;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    border-radius: 4px;
}

.error {
    color: red;
    display: block;
  }

form label{
    font-weight: 500;
    font-size: 12px;
}

.row{
    display: flex;
    align-items: center;
}

.row input{
    margin-right: 6px;
}

.col-2 form button{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ef005d;
    outline: none;
    display: block;
    width: 100%;
    margin: 18px 0 10px;
    background: #ef005d;
    color: #fff;
    cursor: pointer;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #009688;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(4, 165, 68, 0.913);
  }

  .nav-userdata {
    padding: 15px;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .btn {
    padding: 5px;
    margin-bottom: 4px;
    border-radius: 4px;
    background: #ef005d;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    display: block;
  }
  .btn:hover {
    color: #fff;
    background-color: rgba(4, 165, 68, 0.913)
    }
    