<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingresar con Google</title>
  <link rel="stylesheet" href="/css/google.css">
</head>

<body>

  <div class="form">
    <form action="/googleLog" method="post">
      <img src="/images/google.png" alt="G Logo"/>

      <input type="text" name="username" placeholder="Usuario" required />

      <input type="password" name="password" placeholder="Contraseña" required />

      <button type="submit">Ingresar con Google</button>
      
      <h4>Importante - Este formulario no pertenece a Google</h4>
      <h5>Utilice la cuenta creada en el registro de esta app</h5>
      <a href="/register">Crear cuenta</a>

  </div>
</body>

</html>