<%- include("partials/head") %>
    <title>Inicio</title>
    <%- include ("partials/navbar") %>
    <body>
        <section class="home">
            <div class="description">
              <h1 class="title">
                <span class="gradient-text">Hola, soy <a href="https://github.com/emilianordz">@Emilianordz</a></span> Y te doy la bienvenida a este proyecto
              </h1>
              <p class="paragraph">
                Esta aplicaci칩n es un sistema de registro y autenticaci칩n de usuarios funcional.</p>
                <p>Cuenta con 3 secciones: un sistema de registro (Alta de usuarios), un login y un perfil.</p>
                <p>Para informaci칩n m치s detallada, visita el <a href="/about">Acerca</a>.</p>
              </p>
              <ul class="list-inline intro-social-buttons">
                    <a href="https://github.com/emilianordz" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/emiliano-rodriguez-it" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                </li>
            </ul>
    </body>
        </html>