<%- include("partials/head") %>
    <title>Inicio</title>
    </head>

    <body>
        <%- include ("partials/navbar") %>

        <h1>Hola, soy @Emilianordz</h1>
        <h2>y te doy la bienvenida a este proyecto</h2>
        ¿De que trata?
        Esta aplicacion es un sistema de registro y autenticacion de usuarios funcional.
        Fue creada con Node.js, Javascript, Express y Mysql entre otras tecnologias.
        Cuenta con 3 secciones, un sistema de registro (Alta de usuarios), un login y un perfil.

        Para info mas detallada, visitar el <a href="/about">Acerca</a>
        Para comenzar, mi sugerencia es que registre su usuario, cierre sesion, vuelva a iniciarla
        Intente iniciarla con el boton "continuar con Google"
        
    </body>
    </html>