<%- include("partials/head") %>

    <title>Ingresa a tu cuenta</title>
    </head>

    <body>
        <%- include ("partials/navbar") %>

            <div class="container">
                <div class="signup-box">
                    <div class="col-1">
                        <img src="/images/image.png">
                    </div>
                    <div class="col-2">
                        <h2>Es bueno volver a verte</h2>
                        <span>Aun no te registraste? <a href="register">Crea tu cuenta</a></span>
                        <a href="googleLog" class="google-link">
                            <img src="/images/google.png">Continuar con Google</a>
                        <h4>Ingresa a tu cuenta</h4>

                        <form action="/login" method="post">
                            <label>Ingresa tu Usuario</label>
                            <input type="text" name="username" placeholder="Ingrese su usuario" class="input-field">
                            <p class="error" id="error"></p>
                            <% if (locals.errors?.username) { %>
                                <div class = "register-error-message"><%= errors.username.msg %></div>
                                <% } %>

                            <label>Escribe tu Contrase침a</label>
                            <input type="password" name="password" placeholder="Ingrese su contrase침a" class="input-field">
                            <% if (locals.errors?.password) { %>
                                <div class = "register-error-message"><%= errors.password.msg %></div>
                                <% } %>

                            <div class="row">
                                <input type="checkbox" checked>
                                <span name="rememberMe">Mantener sesi칩n iniciada</span>
                            </div>
                            <button type="submit">Iniciar sesi칩n</button>
                    </div>
                    </form>
                </div>
            </div>
    </body>

    </html>