<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registra tu cuenta</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="signup-box">
            <div class="col-1">
                <img src="/images/image.png">
            </div>
            <div class="col-2">
            <h2>Empecemos hoy</h2>
            <span>Ya estas registrado? <a href="login">Inicia Sesion</a></span>
            <a href="#" class="google-link">
                <img src="/images/google.png">Continuar con Google</a>
                <h4>O tambien</h4>
                
                <form action="" method="post">
                    <label>Elija su nombre de usuario</label>
                    <input type="text" name="username" placeholder="Escriba su nombre de usuario" class="input-field">

                    <label>Registre su casilla de Mail</label>
                    <input type="email" name="email" placeholder="Ingrese su E-Mail" class="input-field">
                    
                    <label>Cree su Contraseña</label>
                    <input type="password" name="password" placeholder="Escriba su contraseña" class="input-field">
                    
                    <div class="row">
                        <input type="checkbox" checked>
                        <span>Estoy de acuerdo con los <a href="#">terminos y condiciones</a></span>
                    </div>
                    <button type="submit">Registrar mi cuenta</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>